<!-- <mat-card fxFlex="500px">
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="!perfexEmail">Choose a template</span>
      <span *ngIf="perfexEmail">{{ perfexEmail.name }}</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout="column" fxLayoutGap="1rem">
    <div fxLayout fxLayoutGap="1rem">
      <mat-form-field fxFlex>
        <mat-label>Template Type</mat-label>
        <mat-select
          [(ngModel)]="currentEmail.type"
          (selectionChange)="getEmail()"
        >
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Template Language</mat-label>
        <mat-select
          [(ngModel)]="currentEmail.language"
          (selectionChange)="getEmail()"
        >
          <mat-option *ngFor="let lang of languages" [value]="lang">
            {{ lang | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field fxFlex *ngIf="perfexEmail && currentEmail.type">
      <mat-label>From Name</mat-label>
      <input matInput required [(ngModel)]="perfexEmail.fromname" />
    </mat-form-field>

    <mat-form-field *ngIf="perfexEmail && currentEmail.type">
      <mat-label>Subject</mat-label>
      <textarea matInput [(ngModel)]="perfexEmail.subject"></textarea>
    </mat-form-field>

    <div *ngIf="mergeFields.length" fxLayout="row wrap" fxLayoutGap="1rem">
      <code class="force-select" *ngFor="let field of mergeFields">
        {{ field.key }}
      </code>
    </div>
  </mat-card-content>

  <mat-card-actions fxLayout>
    <button
      mat-button
      color="primary"
      *ngIf="perfexEmail"
      (click)="startBuilding()"
      style="margin-left: auto"
    >
      Start editing
    </button>
  </mat-card-actions>
</mat-card> -->
