<mat-sidenav-container>
  <mat-sidenav-content>
    <div
      fxLayout="column wrap"
      fxLayoutAlign="top center"
      fxLayoutGap="1rem"
      class="mat-typography"
    >
      <mat-toolbar class="mat-elevation-z2">
        <mat-toolbar-row>
          <h1>Email templates {{ resourceService.isLoading$ | async }}</h1>
          <!-- <div fxLayout fxLayoutGap="1rem" style="margin-left: auto;">
            <button mat-raised-button color="primary">
              {{ currentEmail.language }}
            </button>
            <ng-container *ngFor="let lang of topLanguagesList$ | async">
              <button mat-button (click)="changeLanguage(lang)">
                {{ lang }}
              </button>
            </ng-container>
            <button mat-button [matMenuTriggerFor]="langMenu">
              Other
            </button>
            <mat-menu #langMenu="matMenu" xPosition="before">
              <ng-template matMenuContent>
                <button
                  *ngFor="let lang of languages$ | async"
                  mat-menu-item
                  (click)="changeLanguage(lang)"
                >
                  {{ lang }}
                </button>
              </ng-template>
            </mat-menu>
          </div> -->
        </mat-toolbar-row>
      </mat-toolbar>

      <div
        style="padding: 1rem;max-width: 1400px;width: 100%;box-sizing: border-box;"
      >
        <mat-accordion>
          <mat-expansion-panel *ngFor="let type of types">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ type }}</mat-panel-title>
              <!-- <mat-panel-description>
            Type your name and age
          </mat-panel-description> -->
            </mat-expansion-panel-header>

            <mat-table fxFlex [dataSource]="getTemplatesByType(type)">
              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span *ngIf="element.active === '1'">{{ element.name }}</span>
                  <del *ngIf="element.active !== '1'">{{ element.name }}</del>
                </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="subject">
                <mat-header-cell *matHeaderCellDef>Subject</mat-header-cell>
                <mat-cell
                  *matCellDef="let element"
                  class="subject-column"
                  fxLayoutAlign="space-between center"
                >
                  {{ element.subject }}
                  <button
                    mat-icon-button
                    matTooltip="Edit Email Subject"
                    matTooltipPosition="left"
                    aria-label="Edit email subject"
                    color="primary"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="button">
                <mat-header-cell
                  *matHeaderCellDef
                  fxFlex="0 0 144px"
                  fxLayoutAlign="flex-end center"
                >
                  Actions
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let element"
                  fxLayoutAlign="flex-end"
                  fxFlex="0 0 auto"
                >
                  <button
                    mat-icon-button
                    matTooltip="Open in builder"
                    matTooltipPosition="above"
                    aria-label="Open in builder"
                    color="accent"
                    (click)="editTemplate(element.emailtemplateid)"
                  >
                    <mat-icon>build</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Preview"
                    matTooltipPosition="above"
                    aria-label="Preview"
                    color="accent"
                    (click)="getEmailTemplate(element.emailtemplateid)"
                  >
                    <mat-icon>streetview</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Send a test email"
                    matTooltipPosition="above"
                    aria-label="Send a test email"
                    color="accent"
                  >
                    <mat-icon>send</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns">
              </mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></mat-row>
            </mat-table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-sidenav-content>
  <mat-sidenav
    [opened]="showInSidenav$ | async"
    (closed)="showInSidenav$.next(null)"
    position="end"
    mode="over"
    style="width: 80%;max-width: 1000px;"
  >
    <ng-container *ngIf="showInSidenav$ | async as data">
      <div class="preview-container" *ngIf="data.type === 'preview'">
        <h2 *ngIf="!data.data.is_edited">You must edit it</h2>
        <!-- <ip-preview-template
          [template]="data.html"
          style="height: 100%;justify-content: center;"
        ></ip-preview-template> -->
      </div>
      <ip-email-builder
        *ngIf="data.type === 'builder'"
        style="height: inherit;"
      ></ip-email-builder>
    </ng-container>
  </mat-sidenav>
</mat-sidenav-container>
