:host {
  display: block;
}

table td {
  vertical-align: middle;
}

// .perfex-email-builder {
//   background-color: #8cafed;
// }

.force-select {
  -webkit-user-select: all; /* Chrome 49+ */
  -moz-user-select: all; /* Firefox 43+ */
  -ms-user-select: all; /* No support yet */
  user-select: all; /* Likely future */
  margin-bottom: 1rem;
}
