<mat-sidenav-container (backdropClick)="closeSidenav()">
  <mat-sidenav-content>
    <div
      fxLayout="column wrap"
      fxLayoutAlign="top center"
      fxLayoutGap="1rem"
      class="mat-typography"
    >
      <mat-toolbar class="mat-elevation-z2">
        <mat-progress-bar
          mode="indeterminate"
          style="position: absolute;"
          *ngIf="res.isLoading$ | async"
        ></mat-progress-bar>
        <mat-toolbar-row>
          <h1>Email templates</h1>
          <div style="margin-left: auto;" fxLayout fxLayoutGap="1rem">
            <button mat-flat-button color="primary">
              {{ activeLanguage$ | async }}
            </button>
            <button
              mat-flat-button
              [matMenuTriggerFor]="langMenu"
              [disabled]="res.isLoading$ | async"
            >
              Other Languages
            </button>
            <mat-menu #langMenu="matMenu">
              <ng-template matMenuContent>
                <ng-container *ngFor="let lang of languages">
                  <button
                    *ngIf="(activeLanguage$ | async) !== lang"
                    mat-menu-item
                    (click)="activeLanguage$.next(lang)"
                  >
                    {{ lang }}
                  </button>
                </ng-container>
              </ng-template>
            </mat-menu>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div
        style="padding: 1rem;max-width: 1400px;width: 100%;box-sizing: border-box;"
      >
        <mat-accordion fxFlex>
          <mat-expansion-panel
            *ngFor="let item of getTemplates$ | async | keyvalue"
            [expanded]="item.key === expansionPanelOpen()"
            (opened)="expansionPanelOpen(item.key)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>{{ item.key }}</mat-panel-title>
              <!-- <mat-panel-description>
                {{ item.value.length }}
              </mat-panel-description> -->
            </mat-expansion-panel-header>

            <mat-table fxFlex [dataSource]="item.value">
              <ng-container matColumnDef="active">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-slide-toggle
                    matTooltip="Change active status"
                    matTooltipPosition="above"
                    disableRipple
                    [checked]="+element.active === 1"
                    [disabled]="res.isLoading$ | async"
                    (change)="changeActiveStatus($event, element)"
                  ></mat-slide-toggle>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span *ngIf="element.active === '1'">{{ element.name }}</span>
                  <del *ngIf="element.active !== '1'">{{ element.name }}</del>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="subject">
                <mat-header-cell *matHeaderCellDef>
                  From Name > Subject
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let element"
                  class="subject-column"
                  fxLayoutAlign="space-between center"
                >
                  {{ element.fromname }} > {{ element.subject }}
                  <button
                    mat-icon-button
                    matTooltip="Edit email details"
                    matTooltipPosition="left"
                    aria-label="Edit email details"
                    color="primary"
                    (click)="changeElementDetails(element)"
                    [disabled]="res.isLoading$ | async"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell
                  *matHeaderCellDef
                  fxFlex="0 0 144px"
                  fxLayoutAlign="flex-end center"
                >
                  Actions
                </mat-header-cell>
                <mat-cell
                  *matCellDef="let element"
                  fxLayoutAlign="flex-end"
                  fxFlex="0 0 auto"
                >
                  <button
                    mat-icon-button
                    matTooltip="Open in builder"
                    matTooltipPosition="above"
                    aria-label="Open in builder"
                    color="accent"
                    [disabled]="res.isLoading$ | async"
                    (click)="editTemplate$.next(element.emailtemplateid)"
                  >
                    <mat-icon>build</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Preview"
                    matTooltipPosition="above"
                    aria-label="Preview"
                    color="accent"
                    [disabled]="res.isLoading$ | async"
                    (click)="previewTemplate$.next(element.emailtemplateid)"
                  >
                    <mat-icon>streetview</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Send a test email"
                    matTooltipPosition="above"
                    aria-label="Send a test email"
                    color="accent"
                    [disabled]="res.isLoading$ | async"
                    (click)="sendTestEmail(element)"
                  >
                    <mat-icon>send</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns">
              </mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></mat-row>
            </mat-table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-sidenav-content>
  <mat-sidenav
    [opened]="openSidenav$ | async"
    position="end"
    disableClose
    mode="over"
    style="width: 80%;max-width: 1000px;"
  >
    <div
      class="preview-container"
      *ngIf="getTemplateBody$ | async as preview"
      style="height: inherit;"
    >
      <h2 *ngIf="!preview.is_edited">
        You must edit it
      </h2>
      <ip-preview-template
        [template]="preview.html"
        style="height: 100%;justify-content: center;"
      ></ip-preview-template>
    </div>

    <ip-email-builder
      *ngIf="getTemplate$ | async as email"
      style="height: inherit;"
      [email]="email"
    >
      <div class="top-actions" fxLayout fxLayoutGap="0.5rem">
        <button mat-flat-button color="primary" (click)="saveEmail()">
          Save
        </button>
        <button mat-flat-button (click)="saveEmail(true)">
          Save and Close
        </button>
      </div>
    </ip-email-builder>
  </mat-sidenav>
</mat-sidenav-container>
